html, body {
    scroll-behavior: smooth;
    background-color: #000;
}

.home {
    background-image: url('C:/Users/Michael Ladderbush/Desktop/JavaProjects/BJJWebsite/BJJSite/BJJSite/images/KimuraLogo.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    top: 0;
    left: 0;
    background-color: black;
}

.home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: inherit;
    background-size: inherit;
    background-position: inherit;
    background-repeat: inherit;
    filter: blur(10px);
    z-index: 1;
    opacity: 0.5;
}

.home>* {
    position: relative;
    z-index: 2;
}

.header1 {
    font-family: 'Socicon', sans-serif;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: #000;
    color: #fff;
}

.BillCompetition {
    width: 150px;
    height: 150px;
    border: 2px solid #333;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    background-color: #000;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 570px;
}

.BillPicture {
    background-image: url('bjjsite-angular-app/src/app/features/homepage/homepage-component/billyduffybjj.JPG');
    background-size: cover;
    background-position: top;
    width: 150px;
    height: 150px;
    border: 2px solid #fff;
    box-shadow: 0 4px 8px rgb(255, 255, 255, 0.1);
    background-color: #000;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 570px;
}


/* Style the title text */
.BillTitle {
    font-family: 'Socicon', sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #fff;
}

/* Style the main content with a responsive max-width */
.BillBio {
    font-family: 'Socicon', sans-serif;
    max-width: 120ch;
    margin: 0 auto;
    padding: 30px;
    height: auto;
    min-height: 100vh;
    background-color: #000;
    color: #fff;
    box-sizing: border-box;
    clear: both;
}

.contact {
    font-family: 'Socicon', sans-serif;
    max-width: 120ch;
    margin: 0 auto;
    padding: 30px;
    height: auto;
    min-height: 100vh;
    background-color: #000;
    color: #fff;
    box-sizing: border-box;
    clear: both;
}

@media (max-width: 768px) {

    .home,
    .about,
    .contact {
        flex-direction: column;
        padding: 10px;
    }

    .header1 {
        font-size: 2rem;
    }

    .BillBio {
        padding: 20px;
    }

    .BillCompetition {
        width: 100px;
        height: 100px;
    }

    .BillTitle {
        font-size: 1.5rem;
    }
}

.resources {
    font-family: 'Socicon', sans-serif;
    max-width: 120ch;
    margin: 0 auto;
    padding: 30px;
    height: auto;
    min-height: 100vh;
    background-color: #000;
    color: #fff;
    box-sizing: border-box;
    clear: both;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    padding: 20px;
    background: #000;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    color: #fff;
}

.day {
    background-color: #333;
    border: 1px solid #fff;
    font-size: 0.8rem;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

.day h2 {
    margin: 0 0 10px;
    font-size: 0.7rem;
    color: #fff;
}

.day p {
    margin: 0;
    font-size: 0.8rem;
    color: #fff;
}