<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="homepage.component.css">
    <title>Homepage</title>
</head>

<body>
    <div id="home" class="home"></div>

    <div id="about" class="about">
        <h1 class="header1">UNITED AS A FAMILY</h1>
        <div class="BillPicture"></div>
        <main class="BillBio">
            <title class="BillTitle">Bill Duffy</title>
            Bill Duffy is a Brazilian Jiu Jitsu instructor with over two decades of martial arts experience, currently
            teaching at Kimura BJJ in Methuen, MA. After a distinguished career in law enforcement, serving as a police
            officer for 20 years, and an earlier stint in the U.S. Marine Corps from 1980 to 1987, Bill shifted his
            focus toward his passion for Brazilian Jiu Jitsu. His journey in BJJ began in 2002 after a grappling
            competition sparked his desire to truly master the art. Although he won the beginner division of his first
            Gi competition without prior training in the Gi, a broken arm in the advanced division made him realize the
            importance of formal training. The following week, Bill committed himself to learning BJJ, and his
            dedication to the art has only grown since.
            Training under Master Jean Kleber at Kimura BJJ, Bill traveled over 100 miles round trip to train, balancing
            family life, a demanding job, and persistent injuries, all driven by his deep love for the art. His
            commitment to BJJ was further solidified when he attended the 2005 Gracie Cruise, where he had the honor of
            learning from Grandmaster Helio Gracie himself. Bill was deeply inspired by Helio's agility on the mat, even
            at the age of 93, and it further fueled his passion for training.
            In 2010, Bill co-founded Kimura BJJ Tewksbury with his friend and fellow instructor Fabiano, with the goal
            of sharing the benefits of BJJ with the community. A certified defensive tactics instructor, Bill brings his
            extensive experience from both law enforcement and martial arts into his teaching. He emphasizes the
            importance of mastering the basics, believing that a strong foundation is essential for growth in the art.
            His classes are designed to build skills step-by-step, from beginners to advanced students, ensuring that
            everyone gains a deep understanding of BJJ.
            Although Bill has competed in and won many tournaments over the past decade, his focus has shifted to
            teaching. He believes that his experience as a competitor has significantly enhanced his teaching, allowing
            him to pass on valuable insights to his students. Bill continues to train daily, relying on "lots of Advil
            and ice packs" to stay healthy. His message to the BJJ community, particularly older individuals and baby
            boomers, is that it’s never too late to start training. He encourages everyone to stay active and treat
            their bodies well, assuring that BJJ is a great way to get in shape and an activity that can be enjoyed by
            individuals, couples, and families alike. Bill is dedicated to helping his students grow in the art and
            hopes to inspire others to embrace the lifelong benefits of Brazilian Jiu Jitsu.
        </main>
    </div>

    <div id="contact" class="contact">
        <h1>Contact</h1>
        <p>Billy Duffy</p>
        <p>###-###-####</p>
        <p>email</p>
    </div>
</body>

</html>