<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="user-account.component.css">
  <title>User Account</title>
</head>

<body>
  <div *ngIf="userData" id="Account" class="Account">

    <h1 class="AccountHeader">Account Details</h1>
    <p class="Field" id="Email">{{ userData.email }}</p>
    <p class="Field" id="FirstName">{{ userData.firstname }}</p>
    <p class="Field" id="LastName">{{ userData.lastname }}</p>
    <p class="Field" id="Membership">{{ userData.membership }}</p>
  </div>

  <div class="membership">
    <button (click)="routeToCart()">Update Your Membership</button>
  </div>

  <div class="logout">
    <button (click)="logout()">Log Out</button>
  </div>

</body>
