body {
    font-family: 'Socicon', sans-serif;
    max-width: 120ch;
    margin: 0 auto;
    padding: 30px;
    height: auto;
    min-height: 50vh;
    background-color: rgba(255, 255, 255, 0.9);
    box-sizing: border-box;
    clear: both;
}

.paypal {
    display: grid;
    place-items: center;
    height: 35vh;
    width: 100px;
    margin: 0 auto;
  }

#paypal-button-container {
    width: 150px;
}