<head>

</head>

<body>
    <div class="black-belt-sidebar">
        <nav>
            <ul>
                <li class="home-link"><a class="link" [routerLink]="['/']">Home</a></li>
                <li class="about-link"><a class="link" [routerLink]="['/about']">About</a></li>
                <li class="login-link"><a class="link" [routerLink]="['/login']">Login</a></li>
                <li class="contact-link"><a class="link" [routerLink]="['/contact']">Contact</a></li>
                <li class="resources-link"><a class="link" [routerLink]="['/']">Resources</a></li>
            </ul>
        </nav>
    </div>
</body>