.black-belt-sidebar {
    background-image: url('C:/Users/Michael Ladderbush/Desktop/JavaProjects/BJJWebsite/BJJSite/BJJSite/images/blackbelt.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    width: 100px;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;

}

.black-belt-sidebar nav {
    width: 100%;
    height: 100%;
    position: relative;
}

.black-belt-sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
}

.black-belt-sidebar li {
    position: absolute;
    width: 110%;
}

/* Position each link manually */
.home-link {
    top: 23%;
    left: 10%;
}

.about-link {
    top: 32%;
    left: 10%;
}

.login-link {
    top: 42%;
    left: 10%;
}

.contact-link {
    top: 52%;
    left: 10%;
}

.resources-link {
    top: 62%;
    left: 10%;
}

.link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px;
    display: block;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 0px;
    text-align: left;
    transition: background-color 0.3s ease;
}