.black-belt-sidebar {
    background-image: url('C:/Users/Michael Ladderbush/Desktop/JavaProjects/BJJWebsite/BJJSite/BJJSite/images/blackbeltsidebarnostripes.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    width: 100px;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black-belt-sidebar nav {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}

.black-belt-sidebar ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.black-belt-sidebar li {
    margin-bottom: 25px;
    width: 100%;
    text-align: center;
}

.link {
    background-image: url('C:/Users/Michael Ladderbush/Desktop/JavaProjects/BJJWebsite/BJJSite/BJJSite/images/stripe.png');
    background-size: cover;
    background-position: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
    width: auto; /* Scale link width relative to sidebar width */
    padding: 2px; /* Use relative units for padding */
    height: auto;
    display: block;
    border-radius: 0; /* Ensure sharp corners */
    transition: background-color 0.3s ease;
    box-sizing: border-box; /* Ensure padding doesn't overflow */
    max-width: 100px; 
    max-height: 35px;
}

.link:hover {
    background-color: rgba(255, 0, 0, 0.7);
}

