<head>

</head>

<body>
    <div class="black-belt-sidebar">
        <nav>
            <ul>
                <li><a class="link" id="home-link" href="#home">Home</a></li>
                <li><a class="link" id="about-link" href="#about">About</a></li>
                <li><a class="link" id="contact-link" href="#contact">Contact</a></li>
                <li><a class="link" id="resources-link" href="#home">Resources</a></li>
                <li><a class="link" id="login-link" [routerLink]="['/login']">Login</a></li>
            </ul>
        </nav>
    </div>
</body>